#sideMenu {
    min-width: 50px;
    max-width: 300px;
    flex: 1 1 20%;
    background: #9DC3C1;
    border-right: 1px solid #D4DFE6;
    height: calc(100vh - 50px);
}

#sideMenu ul {
    width: 100%;
}

#sideMenu ul li {
    width: 100%;
    line-height: 50px;
    padding: 0 15px;
    box-sizing: border-box;
    cursor: pointer;
    color: #285943;
}

#sideMenu ul li.selected {
    background: #D4DFE6;
    color: #000;
}

#sideMenu ul li.selected:hover {
    background: #D4DFE6;
}

#sideMenu ul li:hover {
    background: #ABD0CE;
}

#sideMenu ul li i {
    margin-right: 20px;
}