.TodoBody {
  width: 100%;
  display: flex;
}

.TodoBody::after {
  content: '';
  display: block;
  clear: both;
}

.TodoBody>div {
  height: calc(100vh - 50px);
}

.TodoContentBox {
  width: 100%;
  background: #D8E6E7;
  padding: 30px 20px 0;
  box-sizing: border-box;
  overflow-y: auto;
}

.TodoContentBox h2{
  font-family: 'Handlee', cursive;
  color: #285943;
  margin-bottom: 20px;
}